language: node_js
cache:
  directories:
    - $HOME/.npm
notifications:
  email: false
node_js:
  - '6'
  - '7'
before_install: 
  - npm install -g grunt-cli
before_script:
  - npm prune
script: 
  - npm run test
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
