 
.gridstrap-cell-visible{
  position: absolute !important;
    transition:width 1.5s, height 0.5s,  left 1.5s, top 1.5s ;
    transition:width 0.2s, height 0.2s,  left 0.2s, top 0.2s ;
}
.gridstrap-cell-hidden{ 
  opacity: 0.1; 
  pointer-events: none;
}
.gridstrap-cell-drag{ 
  transition: none;
  z-index: 10000;
  /*pointer-events: none;*/
}
.gridstack-noncontiguous{
  opacity: 0.02;
}